# .pre-commit-config.yaml
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
  # - repo: https://github.com/gitleaks/gitleaks
  #   rev: v8.27.0
  #   hooks:
  #     - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.28
    hooks:
      - id: uv-lock
      - id: uv-sync
        args: ['--locked', '--all-packages']
  - repo: local
    hooks:
      - id: generate-cli-docs
        name: Generate CLI docs
        entry: mise run docs-cli
        language: system
        pass_filenames: false
        files: ^autopkg_wrapper/utils/args\.py$
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
